body {
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: auto;
  height: 50px;
}

.MyGrid{
  display: grid;
  grid-template-rows: 30% 40% 30%;
  align-items: center;
}

.Score-Flex{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  background-color: lightgrey;
  border-radius:  20px;
  border:  solid 5px rgba(76,76,76,0.5);
  margin:  50px;
  height:  120px;
  max-width:  600px;
  min-width: 400px;
}

.Scorecard-Flex{
  display: flex;
  justify-content:  center;
  z-index: 100;
}

.Count-Flex{
  display: flex;
  min-width:  200px;
  justify-content:  space-around;
  background-color: white;
  border-radius:  20px;
  border: solid 1px rgba(76,76,76,0.5);
  align-items: center;
  height: 90px;
}

.App-header {
  display: flex;
  margin:  20px;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: lightgray;
}

.MyButton{
  grid-row-start: 3;
  width:20px;
  height: 20px;
  text-align: center;
  color: blue;
  background-color: white;
  border:  none;
}

.Football1{
  transform: scale(4.5);
  filter: ;
  position: fixed;
  bottom:  35px;
  left:  485px;
  z-index: -100;
}

.Football2{
  transform: scale(4.5) rotate(24deg);
  position: fixed;
  bottom:  250px;
  left:  700px;
  z-index: -100;
}

.Football3{
  transform: scale(4.5) rotate(-10deg);
  position: fixed;
  bottom:  240px;
  left:  105px;
  z-index: -100;
}

.Football4{
  transform: scale(4.5) rotate(75deg);
  position: fixed;
  bottom:  452px;
  left:  211px;
  z-index: -100;
}

.Football5{
  transform: scale(4.5) rotate(99deg);
  position: fixed;
  bottom:  500px;
  left:  587px;
  z-index: -100;
}

.Football6{
  transform: scale(4.5) rotate(133deg);
  position: fixed;
  bottom:  300px;
  left:  411px;
  z-index: -100;
}

.Football7{
  transform: scale(4.5) rotate(315deg);
  position: fixed;
  bottom:  10px;
  left:  1150px;
  z-index: -100;
}

.Football8{
  transform: scale(4.5) rotate(54deg);
  position: fixed;
  bottom:  -25px;
  left:  144px;
  z-index: -100;
}

.Football9{
  transform: scale(4.5) rotate(90deg);
  position: fixed;
  bottom:  124px;
  left:  -29px;
  z-index: -100;
}

.Football10{
  transform: scale(4.5) rotate(0deg);
  position: fixed;
  bottom:  300px;
  left:  1222px;
  z-index: -100;
}

.Football11{
  transform: scale(4.5) rotate(90deg);
  position: fixed;
  bottom:  54px;
  left:  1470px;
  z-index: -100;
}

.Football12{
  transform: scale(4.5) rotate(200deg);
  position: fixed;
  bottom:  540px;
  left:  1300px;
  z-index: -100;
}

.Football13{
  transform: scale(4.5) rotate(780deg);
  position: fixed;
  bottom:  400px;
  left:  1000px;
  z-index: -100;
}

.Football14{
  transform: scale(4.5) rotate(150deg);
  position: fixed;
  bottom:  550px;
  left:  10px;
  z-index: -100;
}

.Football15{
  transform: scale(4.5) rotate(780deg);
  position: fixed;
  bottom:  650px;
  left:  350px;
  z-index: -100;
}

.Football16{
  transform: scale(4.5) rotate(780deg);
  position: fixed;
  bottom:  30px;
  left:  850px;
  z-index: -100;
}
