body {
    background-image: url("./scg.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  width: auto;
  height: 50px;
}

.Score-Flex{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  background-color: lightgrey;
  border:  solid 5px rgba(76,76,76,0.5);
  margin:  50px;
}

.Count-Flex{
  display: flex;
  min-width:  100px;
  justify-content:  space-between;
  background-color: white;
  align-items: center;
}

.App-header {
  display: flex;
  padding:  20px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MyButton{
  width:5px;
  height: auto;
  text-align: center;
}


.App-link {
  color: #61dafb;
}
