body {
  background-image: url("./scg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: auto;
  height: 50px;
}

.MyText{
  text-align: center;
  vertical-align: baseline;
}

.Score-Flex{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  background-color: lightgrey;
  border:  solid 5px rgba(76,76,76,0.5);
  margin:  50px;
  max-width:  600px;
}

.Count-Flex{
  display: flex;
  min-width:  200px;
  justify-content:  space-around;
  background-color: white;
  align-items: center;
  height: 60px;
}

.App-header {
  display: flex;
  padding:  20px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MyButton{
  width:20px;
  height: 20px;
  text-align: center;
  color: blue;
  background-color: white;
  border:  solid 1px grey;
}
